@use '../mixins' as *;

.profile main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(229,229,229,.8);
    line-height: 1.6;
}

.profile .article-inner{
    max-width: 460px;
}

.profile-list{
    dt{
        float: left;
        clear: left;
        margin-right: 2em;
    }
}