@use'../mixins' as *;



body.top{
    color: #fff;

    // ナビゲーションのリンク
    a{
        color:#fff;
        text-shadow: 0 0 6px #000;

    }
    .header-button span{
        background-color: #fff;
    }
}

// タイトル
.top-title{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    font-family: var(--text-jp);
    font-size: 8vw;
    font-weight: 900;
    white-space: nowrap;
    transform: translate(-50%,-50%);
    
    @include mq{
        font-size: 4vmax; 
        // 幅高さどちらか大きい方に合わせて４％
    }

    i{
        display: block;
        font-family: 'Romanesco',cursive;
        font-style: nomal;
        font-weight: normal;

        @include mq{
            display: inline;
        }
    }
}
