@use'../mixins' as *;

.works main{
    padding: 100px 20px;

}

.works-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 150px);// 150pxを２回
    grid-template-rows: repeat(6, 100px);
    grid-gap: 20px;
    margin: 0 auto;
    width: 320px;

    li img{
        display: block;
        // 下の隙間を無くすため
        width: 100%;
        // maxwidth100%でも良い

    }

@include mq{
    grid-template-columns: repeat(4, 210px);
    grid-template-rows: repeat(3, 140px);
    grid-gap: 30px;
    width: 930px;
}


    
}//. works-list

