@charset 'utf-8';

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
    list-style: none;

}
img{
    display: block;
    max-width: 100%;;
}
.container{
    /* width: 1000px; */
    width: 100%;
    background-color: pink;
    max-width: 1000px;    
    margin: 20px auto;
    display: grid;

    /* 列 */
    /* grid-template-columns: 320px 320px 320px;  */
    grid-template-columns: 1fr 1fr 1fr ;

    /* 行 */
    /* grid-template-rows: 240px 240px; */
    grid-template-rows: 1fr 1fr  ;
   /*レイアウト  */
    justify-content: end;
    align-content: start;
    align-items: center;
    /* コンテンツの流れ */
    grid-auto-flow:row;
    /* rowが初期値　columnは縦*/

    /* ギャップ　隙間 */
    grid-gap: 20px 10px;
    /* row-gap column-gapの順 */
}


    @media screen and (max-width: 650px){
        .container{
            
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr  1fr  1fr;
            grid-gap: 10px;
        }
    }

    .grid{
        display: grid;
        border: 5px solid #ccc;
        max-width: 1000px;
        margin: 50px auto;
    
    /* 行 */
    grid-template-rows: repeat(1, [start] 200px
    [row2] 200px [row3] 200px [end]);

    /* repeat(繰り返し回数、サイズ) */

    /* 列 */
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [end]
    }

    /* レイアウト */
        /* justify-items: end;
       align-items: center; */


.yellow{
    background-color: yellow;
    grid-column: 1/4;
}
.red{
    background-color: red;
    grid-column: 1/ 3;
    grid-row: 2 / 4;
   /* 重ね順 */
    z-index: 1;
    opacity: 0.5;
}
.green{
    background-color: green;
    grid-column: col3/ end;
    grid-row :2/4 ;
}

 .blue{
        background-color: blue;
        grid-area: 2 /2 /3 / 3 ;
        /* row-start col-start row-end col-end */
    }

